attrs
backcall
beautifulsoup4
bleach
bs4
certifi
chardet
chromedriver==2.24.1
cycler
decorator
defusedxml
entrypoints
gevent
greenlet
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
PyExecJS
Pygments
pymongo
PyMySQL
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
redis
requests
scipy
selenium
Send2Trash
six
soupsieve
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
zipp
